Package: guidoqt
Version: 2.5.3
Section: sound
Priority: optional
Architecture: amd64
Depends: guidoengine-devel (>=  1.5.2), libqt5printsupport5 (>=  5.2.1+dfsg-1ubuntu14.2), libqt5widgets5 (>=  5.2.1+dfsg-1ubuntu14.2), libqt5gui5 (>=  5.2.1+dfsg-1ubuntu14.2), libqt5core5a (>=  5.2.1+dfsg-1ubuntu14.2), libstdc++6 (>=  4.8.2-19ubuntu1), libc6 (>=  2.19-0ubuntu6), libgcc1 (>=  1:4.9-20140406-0ubuntu1), libc6 (>=  2.19-0ubuntu6)
Installed-Size: 2342
Maintainer: D. Fober <fober@grame.fr>
Description: Guido Music Notation applications based on Qt.










