Package: guidoengine-devel
Version: 1.6.3
Section: devel
Priority: optional
Architecture: amd64
Depends:libcairo2, libstdc++6 (>=  4.9.2-10), libc6 (>=  2.19-18+deb8u6), libgcc1 (>=  1:4.9.2-10)
Installed-Size: 6723
Maintainer: D. Fober <fober@grame.fr>
Description: The Guido Engine Library. Provides music score layout based on the Guido music notation format.

