[Desktop Entry]
Encoding=UTF-8
Name=GuidoEditor
GenericName=Guido Editor
Comment=Guido Music Notation score editor.
Comment[fr]=Un éditeur de partitions au format Guido.
Exec=/usr/bin/GuidoEditor %f
Terminal=false
Type=Application
Categories=Audio;Music;AudioVideo;Qt;
Icon=guidoeditor.png

