CMakeFiles
CMakeScripts
CMakeCache.txt
CMakeLists.txt.user
cmake_*
*.xcodeproj
**/build/linux
build/GUIDOEngine.*
build/libGUIDOEngine.a
doc/html
doc/refcard
Debug
Debug-iphoneos
Release
Release-iphoneos
tmpSrc
.DS_Store
*.o
*.mak
*~
DerivedData
doc/server/build
doc/server/build/html/*.html
doc/refcard/latex/*.gz
src/tools/*.gmn
src/tools/*.svg
src/tools/*.mid
.qmake.stash
guidolib-1.??-*
*.deb
*.so*
platforms/android/*/obj
platforms/android/simple-guido-editor/bin
platforms/android/canvas-draw-command/bin
java/jni/guidoengine_*
platforms/android/simple-guido-editor/.classpath
platforms/android/simple-guido-editor/.project
platforms/android/simple-guido-editor/.settings
javascript/obj
GraphicsSceneMainWindow.lib
GuidoQt.lib
GuidoQt.opensdf
GuidoQt.sdf
GuidoQt.suo
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
validate/GUIDOEngine.dll
validate/*.exe
doc/doxygen/guidolib-*