[submodule "android-apps/android-cairo"]
	path = android-apps/android-cairo
	url = https://github.com/anoek/android-cairo.git
[submodule "android-apps/android-cmake"]
	path = android-apps/android-cmake
	url = https://github.com/taka-no-me/android-cmake
