CMakeFiles
CMakeScripts
CMakeCache.txt
CMakeLists.txt.user
cmake_*
*.xcodeproj
build
Debug
Debug-iphoneos
Release
Release-iphoneos
tmpSrc
.DS_Store
*.o
*.mak
*~
DerivedData
doc/server/build
doc/server/build/html/*.html
doc/refcard/latex/*.gz
tools/*.gmn
tools/*.svg
tools/*.mid
.qmake.stash
guidolib-1.??-*
*.deb
*.so*
platforms/android/*/obj
platforms/android/simple-guido-editor/bin
java/jni/guidoengine_*
platforms/android/simple-guido-editor/.classpath
platforms/android/simple-guido-editor/.project
platforms/android/simple-guido-editor/.settings
javascript/obj
GraphicsSceneMainWindow.lib
GraphicsSceneMainWindow.vcxproj
GraphicsSceneMainWindow.vcxproj.filters
GraphicsSceneMainWindow.vcxproj.user
GuidoEditor.vcxproj.user
guidoeditor.vcxproj
guidoeditor.vcxproj.filters
GuidoQt.lib
GuidoQt.opensdf
GuidoQt.sdf
GuidoQt.suo
GuidoQt.vcxproj
GuidoQt.vcxproj.filters
GuidoQt.vcxproj.user
GuidoQtFontViewer.vcxproj
GuidoQtFontViewer.vcxproj.filters
GuidoQtFontViewer.vcxproj.user
GuidoSceneComposer.vcxproj
GuidoSceneComposer.vcxproj.filters
GuidoSceneComposer.vcxproj.user
guidohttpserver.vcxproj
guidohttpserver.vcxproj.filters
guido2Image.vcxproj.user
guido2image.vcxproj
guido2image.vcxproj.filters
/Qt/ipch/guidoeditor-caff71be/*.ipch
/validate/GUIDOEngine.dll
/validate/guido2image.exe
/validate/guido2midi.exe
/validate/guido2svg.exe
/validate/guidoar2gr.exe
/validate/guidodraw.exe
/validate/guidogetstaffmap.exe
/validate/guidogetsystemmap.exe
/validate/guidogettimemap.exe
/validate/guidogetversion.exe
/validate/guidogetvoicemap.exe
/validate/guidoparse.exe
/validate/guido2proll.exe
/environments/Qt/GuidoQtD.lib
/environments/Qt/guido2image/1.*/bmp/*.bmp
/environments/Qt/guido2image/1.*/jpeg/*.jpeg
/environments/Qt/guido2image/1.*/pdf/*.pdf
/environments/Qt/guido2image/1.*/png/*.png
/environments/Qt/guido2image/GUIDOEngine.dll
/environments/Qt/guido2image/forcepdfdate.cpp
/environments/Qt/guido2image/forcepdfdate.exe
/environments/Qt/guido2image/guido2image.exe
/environments/Qt/guido2image/guidogetversion.exe
/environments/Qt/ipch/guido2image-8ccca13e/*.ipch
