CMakeFiles
CMakeScripts
CMakeCache.txt
CMakeLists.txt.user
cmake_*
*.xcodeproj
build
Debug
Debug-iphoneos
Release
Release-iphoneos
tmpSrc
.DS_Store
*.o
*.mak
*~
DerivedData
doc/server/build
doc/server/build/html/*.html
doc/refcard/latex/*.gz
tools/*.gmn
tools/*.svg
tools/*.mid
.qmake.stash
guidolib-1.??-*
*.deb
*.so*
android-apps/*/obj
android-apps/simple-guido-editor/bin
java/jni/guidoengine_*
android-apps/simple-guido-editor/.classpath
android-apps/simple-guido-editor/.project
android-apps/simple-guido-editor/.settings
javascript/obj
