
h1 { 
	background-color: #ff8c66 ; 
	color: black;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}

h2 { 
	background-color: #ff8c66 ; 
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}
