<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gmn</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Guido Music Notation</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>GuidoEditor</string>
	<key>CFBundleIconFile</key>
	<string>guido</string>
	<key>CFBundleIdentifier</key>
	<string>fr.grame.GuidoEditor</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.7</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.7</string>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
<!--
<key>CFBundleIcons</key>
<dict>
    <key>CFBundlePrimaryIcon</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>guidoIcon29x29.png</string>
            <string>guidoIcon29x29@2x.png</string>
            <string>guidoIcon40x40@2x.png</string>
            <string>guidoIcon57x57.png</string>
            <string>guidoIcon57x57@2x.png</string>
            <string>guidoIcon60x60@2x.png</string>
        </array>
    </dict>
</dict>
<key>CFBundleIcons~ipad</key>
<dict>
    <key>CFBundlePrimaryIcon</key>
    <dict>
        <key>CFBundleIconFiles</key>
        <array>
            <string>guidoIcon29x29.png</string>
            <string>guidoIcon29x29@2x.png</string>
            <string>guidoIcon40x40@2x.png</string>
            <string>guidoIcon57x57.png</string>
            <string>guidoIcon57x57@2x.png</string>
            <string>guidoIcon60x60@2x.png</string>
            <string>guidoIcon29x29~ipad.png</string>
            <string>guidoIcon29x29@2x~ipad.png</string>
            <string>guidoIcon40x40~ipad.png</string>
            <string>guidoIcon40x40@2x~ipad.png</string>
            <string>guidoIcon50x50~ipad.png</string>
            <string>guidoIcon50x50@2x~ipad.png</string>
            <string>guidoIcon72x72~ipad.png</string>
            <string>guidoIcon72x72@2x~ipad.png</string>
            <string>guidoIcon76x76~ipad.png</string>
            <string>guidoIcon76x76@2x~ipad.png</string>
        </array>
    </dict>
</dict>
-->
</plist>
