<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gmn</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Guido Music Notation</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>GuidoEditor</string>
	<key>CFBundleIconFile</key>
	<string>guido</string>
	<key>CFBundleIdentifier</key>
	<string>fr.grame.GuidoEditor</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.9</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>NSRequiresAquaSystemAppearance</key>
    <true/>
    </dict>
</plist>
