
body { 
	background-color: white;
	font-family :  Verdana; 
	font-size : 10pt; 
	margin: 1cm 1cm 1cm 1cm;
}

td { 
	text-align:center;
	font-size : 9pt;
}

.file { 
	text-align:center;
	font-size : 9pt;
}

.code { 
	font-family :  Courier new; 
	font-size : 11px; 
	color: rgb(40,40,40);
}
