Info.plist
lib*.a
bin
GraphicsSceneMainWindow/Makefile
GuidoEditor/Makefile
GuidoQt/Makefile
GuidoQtFontViewer/Makefile
GuidoSceneComposer/Makefile
GuidoServer/guidohttpserver
guido2image/Makefile
package/GuidoQtApplsMacOSX*
.qmake.stash
Debug-iphone*
Release-iphone*
GuidoQtApplsMacOSX-*
package/GUIDOQt-?.*.deb
FontMetrics/Makefile
GuidoFontMetrics/Makefile
GuidoFontMetrics/guidofontmetrics.pro.user
