<!-- component for guido viewer -->

<template id="guidoTemplate">
<style>
	#gmnCode {
		float : left;
		width: 50%;
	}
	#gmnSandbox {
        width: 95%;
        
      }
	#container {
		float : right;
		width: 50%;
	}
</style>

	<div>
		<div id="gmnCode">
			<p>Type your GMN code here :</p>
			<textarea id="gmnSandbox" rows="10"></textarea>
		</div>
		<div id="container"></div>
		<div style="clear:both;"></div>
	</div>
</template>


<script src="../../libGUIDOEngine.js" type="text/javascript"></script>
<script src="../js/jquery-2.1.1.min.js" type="text/javascript"></script>
<script>
	// importDoc references this document which is import by other 
	var importDoc = document.currentScript.ownerDocument;
	
	// Find template in document
	var tmpl = importDoc.querySelector('#guidoTemplate');

	// Create a prototype for a new element that extends HTMLElement
	var guidoProto = Object.create(HTMLElement.prototype);
	
	function initComponent() {
		// Setup our Shadow DOM and clone the template for each element guido-viewer created
		guidoProto.createdCallback = function() {
			root = this.createShadowRoot();
			root.appendChild(document.importNode(tmpl.content, true));

			var sandBox = root.querySelector("#gmnSandbox");
			// div to insert svg representation
			var container = root.querySelector("#container");
			
			// Register evenement
			sandBox.onkeyup = function(evt) {
				processGMN(sandBox, container);
			};
			
			// Get the text content of component
			var initCode = this.textContent;
			if(initCode) {
				sandBox.value = initCode;
				processGMN(sandBox, container);
			}
			
			// Read attributes and display or not the textarea
			var isGmnCode = this.getAttribute("gmnCode");
			if (isGmnCode == "false") {
				root.querySelector("#gmnCode").style.display="none";
				root.querySelector("#container").style.width = "100%";
			}
		};

		// Register our new element
		var guido = document.registerElement('guido-viewer', {'prototype': guidoProto});
	}

	// Init guido engine
	var guidoEngine;
	
	function initGuidoEngine() {
		guidoEngine = new Module.GuidoEngineAdapter;
		guidoEngine.init();
		/*
		var pageFormat = {
			width : 4000,
			height : 4000,
			marginleft : 10,
			margintop : 90,
			marginright : 10,
			marginbottom : 80
		};
		guidoEngine.setDefaultPageFormat(pageFormat);
		*/
	}
	
	function processGMN(sandBox, container) {
		console.log("processGMN");
		var p = guidoEngine.openParser();
		
		var ar = guidoEngine.string2AR(p, sandBox.value);
		guidoEngine.closeParser(p);
		
		if(ar) {
			/*
			var settings= {
				systemsDistance : 75,
				systemsDistribution : 1,
				systemsDistribLimit : 0.25,
				force : 750,
				spring : 1.1,
				neighborhoodSpacing : 0,
				optimalPageFill : 1,
				resizePage2Music : 1,
				proportionalRenderingForceMultiplicator : 0
			};
			
			var gr = guidoEngine.ar2grSettings(ar, settings);
			*/
			var gr = guidoEngine.ar2gr(ar);
			var result = guidoEngine.gr2SVG(gr, 1, true, 0);

			guidoEngine.freeGR(gr);
			guidoEngine.freeAR(ar);
			
			container.innerHTML = result;
		}
	}
	
	$(document).ready(function() {
		initGuidoEngine();
		initComponent();
	});
</script>

