Package: guidoqt
Version: 2.5.6
Section: sound
Priority: optional
Architecture: amd64
Depends: guidoengine-devel (>= 1.6.3), qtbase5-dev (>= 5.3.2), libc6 (>=  2.19-18+deb8u6), libstdc++6 (>=  4.9.2-10), libgcc1 (>=  1:4.9.2-10)
Installed-Size: 2342
Maintainer: D. Fober <fober@grame.fr>
Description: Guido Music Notation applications based on Qt.










